@import '../../components//styles//layout.scss';
@import '../../components//styles//text.scss';

.login-container {
    @extend .flex-row-center;
    width: 70%;
    height: 50%;
}

.login-frame {
    @extend .flex-column-center;
    width: 50%;
    height: 100%;
    padding: 50px;
    border-radius: 10px;
}

.login-frame-left {
    @extend .login-frame;
    background-color: white;
    border: 1px solid var(--default-color);
}

.login-frame-right {
    @extend .login-frame;
    background-color: var(--default-color);
}


.login-title {
    @extend .flex-column-center;
    width: 100%;
    margin-bottom: 20px;
}

.login-options {
    @extend .flex-row-space-between;
    margin-top: 10px;
    width: 100%;
    color: var(--white-color);
}

.login-options input[type="checkbox"] {
    width: 15px; /* Đặt chiều rộng */
    height: 15px; /* Đặt chiều cao */
}

.login-button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-link {
    @extend .text-sm;
    @extend .font-weight-medium;
    color: var(--white-color); /* Sử dụng biến màu sắc nếu có */
    text-decoration: none; /* Loại bỏ gạch chân */
    transition: color 0.3s ease; /* Thêm hiệu ứng chuyển màu khi hover */

    &:hover {
        color: var(--title-color); /* Màu khi hover */
    }

    &:active {
        color: var(--dark-color); /* Màu khi nhấn */
    }
}