@import '../../components/styles/layout.scss';
@import '../../components/styles/text.scss';

.input-container-column {
    @extend .flex-columm;
}

.input-container-row {
    @extend .flex-row-align-center;
    width: 100%;
    gap: 20px;
}

.input-label {
    @extend .text-sm;
    @extend .font-weight-medium;
    color: var(--black-color);
    width: 100px;
}

.input-wrapper {
    @extend .flex-row-align-center;
    position: relative;
    gap: 20px;
}

.input-field {
    width: 300px;
    height: 35px;
    color: var(--black-color);
    border: 1px solid;
    border-color: #C4C4C4;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box;
    padding-left: 10px;
}

.input-error {
    border-color: var(--danger-color);
}

.error-message {
    display: flex;
    align-items: center;
    color: var(--danger-color);
    font-size: 12px;
}

.error-icon {
    margin-right: 0.5rem;
    color: var(--danger-color);
}

/* CSS để ẩn dấu "x" trong input trên trình duyệt Chrome */
.input-field::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.input-icon {
    position: absolute;
    pointer-events: none;
    right: 30px;
}

.input-wrapper svg {
    font-size: 25px;
    color: #858D9D;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.radio-option input {
    margin-right: 5px;
}