.button {
    width: 300px;
    height: 35px;
    background-color: #1366D9;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
}