@import '../../components/styles/variables.scss';
@import '../../components//styles//layout.scss';

.button {
    @extend .flex-row-center;
    padding: 0 20px;
    height: 40px;
    border: none;
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: var(--default-color);
}