@import '../../components/styles/text.scss';
@import '../../components/styles/layout.scss';

.frame-container {
    @extend .flex-row-align-start;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #F0F1F3
}

.frame-content {
    @extend .flex-columm;
    flex-grow: 1;
    margin-left: 240px;
    overflow-y: auto;
}

.frame-content .main-content {
    @extend .flex-columm;
    flex-grow: 1;
    gap: 20px;
    padding: 20px;
}

.frame-access-denied {
    background-color: white;
    width: 100vw;
    height: 100vh;
}