@import '../../components/styles/text.scss';
@import '../../components/styles/layout.scss';

.status-true {
    font-size: 16px;
    font-weight: 600;
    color: green;
}

.status-false {
    font-size: 16px;
    font-weight: 600;
    color: red;
}

.warehouse-container {
    display: flex;
    justify-content: flex-end;
}

.warehouse-button {
    margin-left: auto;
    padding: 10px 30px;
}