@import '../../components/styles/text.scss';
@import '../../components/styles/layout.scss';

.status-true {
    font-size: 16px;
    font-weight: 600;
    color: green;
}

.status-false {
    font-size: 16px;
    font-weight: 600;
    color: red;
}

.warehouse-container {
    display: flex;
    justify-content: flex-end;
}

.warehouse-button {
    margin-left: auto;
    padding: 10px 30px;
}

.filter-modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.filter-modal-content .button-filter {
    display: flex;
    align-self: center;
    flex-direction: row;
    margin-top: 30px;
    gap: 20px
}

.filter-modal-content input, select, option {
    width: 250px;
    height: 30px;
    padding-left: 10px;
}

.filter-modal-content select, option{
    width: 260px;
    height: 35px;
}
.price-dropdown{
    width: 250px;
    height: 30px;
    padding-left: 10px;
}

