@import '../../components/styles/text.scss';
@import '../../components/styles/layout.scss';

.header {
  height: 15vh;
    display: 1;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--default-color);
   
    color: var(--light-color);
  
    .supermarket-info {
      h1 {
        margin: 0;
        font-size: 24px;
      }
  
      p {
        margin: 5px 0;
        font-size: 14px;
      }
    }
  
    .employee-info {
      text-align: right;
  
      p {
        margin: 5px 0;
        font-size: 14px;
      }
    }
  }
  