.product-customer-header-content {
    display: flex;
    align-items: center;
    width: 100%;

    h3 {
        flex-grow: 1;
        text-align: center;
        margin: 0;
    }

    svg {
        cursor: pointer;
        padding-left: 30px;
    }
}

.product-customer-product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 20px;
    margin-top: 20px;

    .product-card {
        width: 200px;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .product-card img {
        width: 150px;
        height: 130px;
        object-fit: contain;
        align-self: center;
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;

        .name {
            font-size: 13px;
            color: #333;
        }

        .price {
            margin-top: -5px;

            .promotion-price {
                font-size: 14px;
                font-weight: bold;
            }

            .original-price {
                font-size: 12px;
                text-decoration: line-through;
                color: #999;

            }

            .normal-price {
                font-size: 14px;
                font-weight: bold;
            }
        }

        .promotion-description {
            font-size: 14px;
            font-weight: 500;
            color: #ff0000;
            margin-top: -10px;
        }



    }

    .cart-button {
        background: #0056b3;
        border: none;
        cursor: pointer;
        color: #fff;
        width: 100%;
        /* Độ rộng 100% */
        height: 50px;
        /* Chiều cao 30px */
        align-self: flex-end;
        /* Đẩy nút xuống cuối */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    .cart-button:hover {
        background-color: #004080;
        /* Màu nền khi hover */
    }
}

.unit-customer-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content-customer {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        min-width: 400px;

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
        }

        .close-icon {
            cursor: pointer;
        }
    }

    .unit-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .unit-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        color: #555;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        width: 100%;
        max-width: 200px;
        margin: 0px 10px;
        padding: 10px 0px;
        box-sizing: border-box;

    }

    .unit-img {
        width: 100px !important;
        height: 100px !important;
        object-fit: cover;
        padding: 0px 20px;
    }

    .price {
        margin-top: 10px;

        .promotion-price {
            font-size: 14px;
            font-weight: bold;
        }

        .original-price {
            font-size: 12px;
            text-decoration: line-through;
            color: #999;

        }

        .normal-price {
            font-size: 14px;
            font-weight: bold;
        }
    }

    .promotion-description {
        font-size: 14px;
        font-weight: 500;
        color: #ff0000;
        margin-top: -10px;
    }


    .unit-details {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px;
        background-color: #004080;


        p {
            color: white;
        }
    }

    .quantity-buy {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;

        .quantity-info {
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
                margin-right: 10px;
            }

            .quantity-input {
                width: 35px;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
                text-align: center;
                font-size: 16px;
            }

            .quantity-input::-webkit-outer-spin-button,
            .quantity-input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            .quantity-button {
                width: 40px;
                padding: 10px;
                border: none;
                background-color: #2392D0;
                color: white;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                font-size: 16px;
                margin: 0 5px;
            }

            .quantity-button:hover {
                background-color: #2392D0;

            }
        }
    }


    .buy-button {
        padding: 15px 30px;
        border: none;
        background-color: #323C64;
        color: #fff;
        border-radius: 4px;
    }

    .buy-button:hover {
        background-color: #323C64;
    }

}