@import '../../components/styles/text.scss';
@import '../../components/styles/layout.scss';

.menu-body {
    @extend .flex-columm;
    width: 13vw;
    height: 100vh;
    background-color: var(--white-color);
    color: var(--menu-color);
    padding: 0px 20px;
    position: fixed; // Đặt menu ở vị trí cố định
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}

.menu-logo {
    @extend .flex-center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.menu-menu {
    width: 100%;
    height: auto;
}

.menu-setting {
    margin-top: auto;
    margin-bottom: 30px;
}

.menu-detail {
    @extend .flex-row-align-center;
    @extend .text-md;
    @extend .font-weight-regular;
    height: 20px;
    padding: 10px;
    padding-left: 20px;
    border-bottom: #555;
}

.menu-detail:hover {
    color: var(--title-color);
    @extend .text-xl;
    @extend .font-weight-medium;
}

.menu-detail.selected {
    color: var(--default-color);
    @extend .text-xl;
    @extend .font-weight-medium;
}

.menu-detail p {
    margin-left: 13px;
    font-size: 15px;
}

.arrow-icon {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.arrow-icon.open {
    transform: rotate(180deg); // Rotate arrow when submenu is open
}

.submenu {
    padding-left: 20px; // Indentation for submenu items
}

.submenu-item {
    font-size: 0.9em;
    color: #555; // Submenu item color
    cursor: pointer;
}