@import '../../components/styles/text.scss';
@import '../../components/styles/layout.scss';

.overview {
    @extend .flex-columm;
    flex-shrink: 0;    
    background-color: var(--white-color);
    padding: 20px;
}

.overview h1 {
    font-size: 24px;
    color: var(--title-color);
}