.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-container {
    @extend .flex-center;
    flex-direction: row;
    height: 100vh;
}

.flex-row-center {
    @extend .flex-center;
    flex-direction: row;
}

.flex-column-center {
    @extend .flex-center;
    flex-direction: column;
}

.flex-row-space-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-row-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row-justify-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-columm {
    display: flex;
    flex-direction: column;
}

.flex-row-align-start {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
