:root {
    --default-color: #2392D0;
    --title-color: #323C64;
    --title-2-color: #344C75;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --muted-color: #667085;
    --white-color: #ffffff;
    --menu-color: #5D6679;
    --black-color: #000000;
    --background-color: #F0F1F3;
}