// Promotion.scss
.promotion-form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.promotion-form-row {
  display: flex;
  gap: 15px;
}

.promotion-section {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.numeric-keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.numeric-keypad button {
  padding: 20px;
  font-size: 24px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.numeric-keypad button:hover {
  background-color: #ddd;
}

.numeric-keypad button:nth-child(10) {
  /* Phím "C" */
  background-color: #ff6666;
  color: #fff;
}

.numeric-keypad button:nth-child(10):hover {
  background-color: #ff4d4d;
}


.select {
  margin: 20px 0;
  width: 100%; /* Chiều rộng đầy đủ */
  min-height: 40px; /* Chiều cao tối thiểu */
  border: 1px solid #ccc; /* Đường viền màu xám */
  border-radius: 4px; /* Bo góc */
}

.select__control {
  border: 1px solid #ccc; /* Đường viền màu xám */
  box-shadow: none; /* Không có bóng */
  border-radius: 4px; /* Bo góc */

  &:hover {
      border-color: #888; /* Đổi màu viền khi hover */
  }
}

.select__menu {
  z-index: 10; /* Đảm bảo menu không bị che khuất */
  border-radius: 4px; /* Bo góc */
}

.select__option {
  padding: 10px; /* Padding cho từng tùy chọn */
  transition: background-color 0.2s; /* Hiệu ứng chuyển đổi nền */

  &:hover {
      background-color: #f0f0f0; /* Màu nền khi hover */
  }
}

// Định nghĩa cho select khi nó được chọn
.select__single-value {
  color: #333; /* Màu chữ */
  font-weight: 500; /* Đậm chữ */
}

.select__placeholder {
  color: #aaa; /* Màu chữ cho placeholder */
}

.select__indicator {
  color: #4CAF50; /* Màu cho biểu tượng */
}
.add-promotion-detail-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.promotion-detail-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.promotion-input {
  margin-bottom: 15px;
  width: 100%;
}

.promotion-dropdown {
  margin-bottom: 15px;
  width: 100%;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-button {
  width: 200px;
}

.error-message {
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}
