@import '../../components/styles/text.scss';
@import '../../components/styles/layout.scss';

.inventory-container {
    @extend .flex-columm;
    flex-grow: 1;
    gap: 20px;
    box-sizing: border-box;
    min-height: 0;
    overflow: hidden;
}
