.receipt {
  width: 300px;
  margin: 0px auto;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.receipt h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.receipt p {
  margin: 8px 0;
  color: #555;
}

.receipt p strong {
  font-weight: bold;
}

.receipt table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}

.receipt table th,
.receipt table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.receipt table th {
  background-color: #f8f8f8;
}

.receipt table td {
  text-align: center;
}

.receipt .total {
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
}

.receipt .footer {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  color: #777;
}

.receipt .footer p {
  margin: 5px 0;
}

/* CSS cho chế độ in */
@media print {
  body * {
    visibility: hidden;
  }

  #receiptToPrint,
  #receiptToPrint * {
    visibility: visible;
  }

  #receiptToPrint {
    width: 340px;
    margin: 0px auto;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  #receiptToPrint h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  #receiptToPrint table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
  }

  #receiptToPrint table th,
  #receiptToPrint table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  #receiptToPrint table th {
    background-color: #f4f4f4;
  }

  #receiptToPrint table td {
    text-align: center;
  }

  #receiptToPrint table th:nth-child(1),
  #receiptToPrint table td:nth-child(1) {
    width: 10%;
    /* Tăng chiều rộng của cột Tên sản phẩm */
  }

  /* Thiết lập chiều rộng cột */
  #receiptToPrint table th:nth-child(2),
  #receiptToPrint table td:nth-child(2) {
    width: 40%;
    /* Tăng chiều rộng của cột Tên sản phẩm */
  }

  #receiptToPrint table td th:nth-child(3),
  #receiptToPrint table td:nth-child(3) {
    width: 10%;
    /* Tăng chiều rộng của cột Tên sản phẩm */
  }

  #receiptToPrint table th:nth-child(4),
  #receiptToPrint table td:nth-child(4) {
    width: 10%;
    /* Tăng chiều rộng của cột Tên sản phẩm */
  }

  #receiptToPrint table th:nth-child(5),
  #receiptToPrint table td:nth-child(5) {
    width: 10%;
    /* Tăng chiều rộng của cột Tên sản phẩm */
  }

  #receiptToPrint table td:nth-child(1) {
    text-align: center;
    font-weight: bold;
  }
  #receiptToPrint .total {
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
  }

  #receiptToPrint .footer {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    color: #777;
  }
}

.receipt {
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .receipt-header {
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;

    h2 {
      font-size: 18px;
      margin-bottom: 0px;
      color: #333;
    }

    p {
      font-size: 12px;
      margin: 4px 0;
    }
  }

  .receipt-details {
    h3 {
      font-size: 18px;
      color: #666;
      margin-bottom: 10px;
    }
  }



  .receipt-footer {
    border-top: 2px solid #ddd;
    padding-top: 10px;

    p {
      font-size: 12px;
      margin: 5px 0;
    }

    .footer-message {
      margin-top: 20px;
      text-align: center;
      color: #777;

      p {
        font-size: 12px;
      }
    }
  }
}

.product-table-receipt {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th,
  td {
    padding: 20px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 0.9em;
  }

  th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
    text-align: center;
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 10%;
    /* Tăng chiều rộng của cột Tên sản phẩm */
  }

  /* Thiết lập chiều rộng cột */
  th:nth-child(2),
  td:nth-child(2) {
    width: 300px;
    /* Tăng chiều rộng của cột Tên sản phẩm */
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 10%;
    /* Tăng chiều rộng của cột Tên sản phẩm */
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 10%;
    /* Tăng chiều rộng của cột Tên sản phẩm */
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 10%;
    /* Tăng chiều rộng của cột Tên sản phẩm */
  }

  td:nth-child(1) {
    text-align: center;
    font-weight: bold;
  }

  .promotion-row {
    background-color: #eafaf1;
    color: #27ae60;

    td {
      font-style: italic;
    }
  }
}